table > thead {
    font-weight: bold;
}

table {
    margin: auto;
    width: 90%;
}

header {
    background-color: dimgray;
    text-decoration-color: fuchsia;
    color: rgba(213, 229, 19, 0.87);
    text-align: center;
}

#form{
    display: none;
}

#button{
    margin: auto;
    width: 30%;
    padding: 10px;
    
}

.clicked{
    background-color: rgb(0, 128, 255);
}

.row{
    background-color: rgb(157, 159, 167);
}