.table{
    list-style-type: none;
    display: inline-block;
}

.table  li{
    height: 201px;
    width: 201px;  
    display: inline-block;
    margin: 20px;
    border-radius: 15px;
}

.hidden{
    background-image: url(../img/filler.png);
}   

.hidden img{
    display: none;
}

.show img{
    display: table-cell;
}